{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h4>Masters students Portal</h4>
        </div>
        {% if form_one %}
            {% for entry in form_one %}
                <h2>Name: {{ entry['fname'] }} {{ entry['lname'] }}</h2>
                <h4>Email: {{ entry['email'] }}</h4>
                <h4>Course ID: {{ entry['course_id'] }}</h4>
                <h4>Course Name: {{ entry['course_name'] }}</h4>
                <h4></h4>
                <h4>Course Number: {{ entry['course_num'] }}</h4>


             
            {% endfor %}
        {% else %}
            <h2>No information available for this student.</h2>
        {% endif %}
    </div>

   
{% endblock %}
