* {
    overflow-y:hidden;
}

.glass {
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.custom-shape-divider-top-1682022880 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1682022880 svg {
    position: relative;
    display: block;
    width: calc(123% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1682022880 .shape-fill {
    fill: #FFFFFF;
}