<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <title> Need Advisor </title>
  </head>
  <body>
    <h1> Assign advisor for {{student[0]['fname']}} {{student[0]['lname']}} </h1> 
    <h2> Available advisors: </h2>
        {% for advisor in advisors: %}
        <li> {{advisor['fname']}} {{advisor['lname']}} &nbsp (ID: {{advisor['user_id']}})</li>
        {% endfor %}
    <form action="/assign_advisor/{{student[0]['user_id']}}" method="POST">
    <h3> Enter the ID of your preferred advisor:  
      <input type="text" name="advisor_id">
      <button type="submit">Submit</button>
    </h3>
      </form>

      <hr color=#3F000F;>

    <form action="/student/{{student[0]['user_id']}}"> 
      <button type="submit">Student Data</button>
    </form>

    <form action="/gradsec"> 
      <button type="submit">All students</button>
    </form>

    <form action="/logout"> 
      <button type="submit">Log Out</button>
    </form>
    
  </body>
</html>