<html>
  <head>
    <title>  Apply </title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <script>
    </script>
  </head>
  <body class = "bcolor">
    <form action='/logout'>  <input type="submit" class = "logout button" value="logout"> </b> </form>
    <c class = "just"> <b> APPLICATION COMPLETE </b> </c> <br>
    <c class = "just"> <b> TRANSCRIPT AND RECOMMENDATION LETTER SENT </b> </c> <br>
        <form action='/welcome'>  <input type="submit" class = "button" value="Back"> </b> </form>
  </body>
</html>