<html>
  <head>
    <title>  Apply </title>
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <script>
    </script>
  </head>
  <body class = "bcolor">
    <form action='/logout'>  <input type="submit" class = "logout button" value="logout"> </b> </form>
    <c class = "just"> <b> APPLICATION COMPLETE </b> </c> <br>
    <c class = "just"> <b> TRANSCRIPT AND RECOMMENDATION LETTER SENT </b> </c> <br>
    

    <br>
    <br>
    <br>
    EMAIL:
    SUBJECT: ****ACTION REQUIRED****
    Hello {{data["rname"]}}
    Please fill out this recommendation letter for name
    <form action = "/complete/{{ those['student_id']}}/{{ those['semester']}}/{{ those['s_year']}}" method = 'POST'>  
    <fieldset>
      <legend>Letter 1</legend>
        <input type="text" name="content" > 
    </fieldset>
    
    EMAIL:
    SUBJECT: ****ACTION REQUIRED****
    Hello {{data["rname"]}}
    Please fill out this recommendation letter for name
    <fieldset>
      <legend>Letter 2</legend>
        <input type="text" name="content1" > 
    </fieldset>
   
    EMAIL:
    SUBJECT: ****ACTION REQUIRED****
    Hello {{data["rname"]}}
    Please fill out this recommendation letter for name
    <fieldset>
      <legend>Letter 3</legend>
        <input type="text" name="content2" > 
      </fieldset>
      <input type="submit" value="Submit Letter">
      
      EMAIL:
      SUBJECT: ****ACTION REQUIRED****
      Hello {{data["rname"]}}
      Please fill out this recommendation letter for name
    <fieldset>
      <legend>Transcript</legend>
        <input type="text" name="tcontent" > 
      </fieldset>
      <input type="submit" value="Submit">
    </form>
    

        <form action='/welcome'>  <input type="submit" class = "button" value="Back"> </b> </form>
  </body>
</html>