<!DOCTYPE html>
<html>
<body>
    
      <form action ="/finalDecision/{{ this0 }}/{{ this1 }}/{{ this2 }}" method="POST">
    Transcript Received? 
   <select name="Transcript" id="reasons">
    <option value="YES">YES</option>
    <option value="NO">NO</option>
   </select>
    <br>
    <br>

    Final Decision:
    <select name = "Decision">
    <option value = "Reject"> Reject </option>
    <option value = "Admit"> Admit </option>
    <option value = "Admit with aid"> Admit with aid </option> 
    </select>
    <br> 
    <br>

    <br>
    <br>

        <input type = "submit">  </form>
</body>
</html>