<!DOCTYPE html>
<html>
<body>


<form action ='/gradsec' method="POST">
    Transcript Received? 
   <select name="Transcript" id="reasons">
    <option value="YES">YES</option>
    <option value="NO">NO</option>
   </select>
    <br>
    <br>

    Final Decision:
    <select name = "Decision">
    <option value = "Reject"> Reject </option>
    <option value = "Admit"> Admit </option>
    <option value = "Admit with aid"> Admit with aid </option> 
    </select>
    <br> 
    <br>

    Accept as Student?
    <select name="Student" id="student">
    <option value="YES">YES</option>
    <option value="NO">NO</option>
        </select>
    <br>
    <br>

        <input type = "submit">  </form>
</body>
</html>