{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-8 mx-auto">
        <div class="card">
          <div class="card-body">
              {% if form_one %}
  
              <h2>Name: {{ form_one[0]['fname'] }} {{ form_one[0]['lname'] }}</h2>
              <h4>Email: {{ form_one[0]['email'] }}</h4>
  
             
  
            <div class="row">
              <h4>Form 1 </h4>
  
              <table class="table table-hover table-dark">
                <thead>
                  <tr>
                    <th scope="col">Course </th>
                    <th scope="col">Course Name</th>
                    <th scope="col">Credit Hours</th>
                  </tr>
                </thead>
                <tbody>
            
              {% for c in form_one %}
  
          <tr>
              <td>{{ c.dept_name }} {{ c.course_num }}</td>
              <td>{{ c.course_name }}</td>
            <td>{{ c.credit_hours }}</td>
  
          
          </tr>
        {% endfor %}
  
        
  
      </tbody>
    </table>
    
  
            </div>
  
  



                {% if entry['thesisapproved'] == "True"  %}


                <h4 style="color:green; ">Thesis Status: Approved</h4>



                {% else  %}

                <h4 style="color:red; ">Thesis Status: Not  Approved</h4>

                {% endif   %}


                <form action="" method="post">
                    <input type="hidden" name="student_id" value="{{ entry['user_id'] }}"> <!-- Add this line -->
                    <div class="form-group">
                        <label for="status">Select an option</label>
                        <select class="form-control" id="status" name="status">
                            <option value="" default>Change Approval status</option>
                           
                            <option value="True">Approved</option>
                            <option value="False">Not Approved</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                </form>
         


        {% else %}
            <h2>Student did not submit Form 1</h2>
        {% endif %}
    </div>
    <div class="card-footer">
    

    </div>
  </div>
</div>
</div>
</div>

{% endblock %}
